<!DOCTYPE html>

<html lang="fa" dir="rtl">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootswatch/morph/bootstrap.rtl.min.css" />
    <link rel="stylesheet" href="~/css/CustomCss.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light-subtle" data-bs-theme="light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarColor03">
                <ul class="navbar-nav text-primary">
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Home" class="nav-link">خانه</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Courses" class="nav-link">دوره ها</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Home" class="nav-link">درباره ما</a>
                    </li>
                </ul>
                <ul class="navbar-nav gap-2">
                <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", false)
</body>

</html>
