@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager


@if (SignInManager.IsSignedIn(User))
{
    if (User.IsInRole("Admin"))
    {
        <li class="nav-item">
            <a class="btn btn-outline-info" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">پنل کاربری</a>
        </li>
    }
    else if (User.IsInRole("Teacher"))
    {
        <li class="nav-item">
            <a class="btn btn-outline-info" asp-area="Teacher" asp-controller="Dashboard" asp-action="Index">پنل کاربری</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">
                سلام @User.Identity?.Name
            </a>
        </li>
    }
    <li class="nav-item">
        <a class="btn btn-outline-danger" asp-area="" asp-controller="Accounts" asp-action="LogOut">
            خروج
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="btn btn-outline-info" asp-controller="Accounts" asp-action="Login">ورود</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-outline-info" asp-controller="Accounts" asp-action="Register">ثبت‌نام</a>
    </li>
}


