<div class="h-auto">
    <div class="justify-content-center d-flex align-items-center mt-5">
        <img src="https://i.pinimg.com/originals/31/dc/76/31dc76b88cfba521b6f3836b8f439a03.jpg" class="rounded-4" />
    </div>
</div>