

<div class="col-md-10 ms-sm-auto px-4">
    <h2 class="my-3">داشبورد</h2>

    <!-- Widgets -->
    <div class="row mb-4">
        <a asp-area="Admin" asp-controller="Dashboard" asp-action="Users" class="col-md-3 text-decoration-none">
            <div class="card text-white bg-primary mb-3 link-zoom">
                <div class="card-body text-center text-nowrap row user-select-none">
                    <div class="col-6 fw-bolder align-content-center">
                        <label>
                            تعداد کاربران
                        </label>
                    </div>
                    <div class="col-6 fw-bolder align-content-center">
                        <label class="fw-bold p-1 ">
                            @ViewData["UsersCount"]
                        </label>
                    </div>
                </div>
            </div>
        </a>
        <div class="col-md-3 text-decoration-none">
            <div class="card text-white bg-success mb-3 link-zoom">
                <div class="card-body text-center text-nowrap row user-select-none">
                    <div class="col-6 fw-bolder align-content-center">
                        <label>
                            تعداد دوره‌ها
                        </label>
                    </div>
                    <div class="col-6 overflow-hidden">
                        <label class="fw-bold p-1 ">
                            @ViewData["CourseCount"]
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 text-decoration-none">
            <div class="card text-white bg-warning mb-3 link-zoom">
                <div class="card-body text-center text-nowrap row user-select-none">
                    <div class="col-6 fw-bolder align-content-center">
                        <label class="fw-bolder">
                            درآمد ماهانه
                        </label>
                    </div>
                    <div class="col-6 overflow-hidden">
                        <label class="fw-bolder p-1 ">
                            0
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 text-decoration-none">
            <div class="card text-white bg-danger mb-3 link-zoom">
                <div class="card-body text-center text-nowrap row user-select-none">
                    <div class="col-6 fw-bolder align-content-center">
                        <label>
                            درخواست ها
                        </label>
                    </div>
                    <div class="col-6 overflow-hidden">
                        <label class="bg-light text-danger fw-bold rounded-2 p-1 ">
                            0
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>