

<div class="col-md-10 ms-sm-auto px-4">
    <h2 class="my-3">داشبورد</h2>

    <!-- Widgets -->
    <div class="row mb-4">
        <div class="col-md-3">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-around">
                        <label>
                            تعداد کاربران
                        </label>
                        <label class="fw-bold">
                            @ViewData["UsersCount"]
                        </label>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-success mb-3">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-around">
                        <label>
                            تعداد دوره‌ها
                        </label>
                        <label class="fw-bold">
                            @ViewData["CourseCount"]
                        </label>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-warning mb-3">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-around">
                        <label>
                            درآمد ماهانه
                        </label>
                        <label>

                        </label>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-danger mb-3">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-around">
                        <label>
                            سفارش‌های جدید
                        </label>
                        <label>

                        </label>
                    </h5>
                </div>
            </div>
        </div>
    </div>

</div>